@page "/counter"
@inject NavigationManager NavigationManager
<PageTitle>Авторизация</PageTitle>

<h1>Авторизация</h1>
<form>
<div class="input_box">
   
<input type="text"  placeholder="Логин" @bind-value="@login" />
 
<input type="password" placeholder="Пароль" @bind-value="@password" />

<a class="btn" @onclick="Auth" >Войти</a>
<p>@error</p>

</div>
</form>

@code {
    string login;
    string password;
    string error;
    string name;
  
    private void Auth()
    {

        User user = Database.FindOne(login);
        if(user == null)
        {
            error = "Такого пользователя нет";
        }
        else if (user.Password != password) {
            error = "Неправильный логин или пароль";
            name = null;
        }
        else
        {
            error = "";
            name = user.Fio;
            Session.fio = name;
            Session.Login = user.Login;
           
            Session.Email = user.Email;
            error = "Вход выполнен";
            NavigationManager.NavigateTo("FetchData");


        }
    }
}